header {
	display: flex;
	align-items: baseline;
	justify-content: space-between;
	padding: 30px 8vw;
	gap: 100px;
}

header .search-icon-mobile {
	display: none
}

@media (max-width: 1000px) {
	header {
		gap: 50px;
	}
}

@media (max-width: 800px) {
	header .search-input {
		display: none !important
	}

	header .search-icon-mobile {
		display: unset
	}
}