header {
	display: flex;
	align-items: baseline;
	justify-content: space-between;
	padding: 30px 8vw;
	gap: 96px;

	@media (max-width: 1000px) {
		gap: 64px;
	}

	@media (min-width: 800px) {
		.search-icon-mobile {
			display: none;
		}
	}

	@media (max-width: 800px) {
		.search-input {
			display: none;
		}
	}
}